<div th:fragment="recordCard" class="card border-0 mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-floating border-0 mb-2">
                    <input type="text" id="set-recordemp" class="form-control" placeholder="회사명">
                    <label for="set-recordemp">회사명</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb2">
            <div class="col-md">
                <div class="form-floating border-0 mb-2">
                    <input type="month" id="set-empjoindate" class="form-control" placeholder="입사일">
                    <label for="set-empjoindate">입사일</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating border-0 mb-2">
                    <input type="month" id="set-empretiredate" class="form-control" placeholder="퇴사일">
                    <label for="set-empretiredate">퇴사일</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-floating border-0 mb-2">
                    <textarea id="set-simpleduty" class="form-control" placeholder="간략한 업무 내용"></textarea>
                    <label for="set-simpleduty">간략한 업무 내용</label>
                </div>
            </div>
        </div>
    </div>
</div>