<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.0/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common-style/common-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login-background/style.css}">
    <style>
        body {
            padding-top: unset;
        }

        .card {
            --bs-card-bg: #F3E9FE;
        }
    </style>
</head>
<body>
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<main class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card border-0">
                    <div class="card-body p-5">
                        <div class="mb-md-4 mt-md-4">
                            <h2 class="fw-bold text-center mb-2">회원가입</h2>
                            <p class="text-center text-muted mb-4">회원가입을 통해 로그인을 시도하세요.</p>
                            <form class="needs-validation" th:action="@{/signup}" th:object="${userCreateForm}" method="POST">
                                <div th:replace="~{fragments/formerrors::formerrors}"></div>
                                <div class="form-floating border-0 mb-3">
                                    <input type="text" th:field="*{userId}" id="account-floating" class="form-control border-0" placeholder="아이디" required>
                                    <label class="form-label" for="account-floating">아이디</label>
                                </div>
                                <div class="form-floating border-0 mb-3">
                                    <input type="password" th:field="*{userPwd1}" id="password1-floating" class="form-control border-0" placeholder="비밀번호" required>
                                    <label class="form-label" for="password1-floating">비밀번호</label>
                                </div>
                                <div class="form-floating border-0 mb-3">
                                    <input type="password" th:field="*{userPwd2}" id="password2-floating" class="form-control border-0" placeholder="비밀번호 확인" required>
                                    <label class="form-label" for="password2-floating">비밀번호 확인</label>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-custom-purple">회원가입</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/bootstrap-5.2.0/bootstrap.min.js}"></script>
</body>
</html>
